#content {
	background-color: WhiteSmoke;
}

#content-text {
	text-align: center;
	font-size: 10px;
}

footer {
	position: absolute;
  	bottom: 10px;
    width: 99%;
}

#wrapper {
    text-align: center;
    overflow: hidden;
	resize: both;
	border: dashed;
}

#wrapper iframe {
  height: 900px;
  width: 840px;
  overflow: auto;
  border: none;
}
